
body{
    background-color: white;
}
h2{
    width: 100%;
    text-align: center;
}
.txtDiv{
    width: 100%;
    text-align: center;
}

.txt{
    margin-top: 30px;
    margin-left: 30px;
    width: 60%;
    height: 200px;
    margin: 0;
}
.rc{
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

.dropdown {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dropdownbutton{
    color: white;
}

.hidden{
    opacity: 0;
    display: none;
    transition-delay: 1s;
    transition: opacity 600ms, display 600ms;

}
.tablecontainer{
    margin-top: 1px;
    padding: 6px;
    border: 1px solid #888;
    color: #888;
}

table {
    background-color: white;
    border-collapse: separate;}

 td {
    border: 1.2px #ddd solid;
    height: 14px;
    width: 14px;
    /* line-height: 10px; */
    cursor: pointer;

    /* padding: 10px; */
}


.table-wrap{
    background: #ffffff;
    /* border: 1px solid #888; */
}
